<div class="filter">
<p>Сортировать по:</p>
    <select id="sortParam">
        <option value="0">времени добавления</option>
        <option value="1">названию</option>
        <option value="2">времени завершения</option>
    </select>
</div>

<div class="filter"> 
    <p>Отображать</p>
    <select id="status">
        <option value="0">все</option>
        <option value="1">выполненные</option>
        <option value="2">в процессе</option>
    </select>
</div>