.filter{
    float: left;
    width: 15%;
}

.filter:last-child{
    width: 85%;
}

.addTaskForm{
    width: 100%;
    float: left;
    margin-top: 15px;
}
.task{
    float: left;
    width: 20%;
    border-width: 10px;
    border-color: black;
    border-radius: 10px;
    margin: 1px;
    padding-left: 20px;
    height: 150px;
}
